html, body {
	width: 100%;
	height: 100%;
}

#container {
	height: 100%;
	width: 960px;
	margin: 0 auto;
}

#container h1 {
	text-align: center;
}

#user-input-container {
	float: left;
	width: 20%;
}
#user-input-container h2 {
	margin-top: 0px;
	margin-bottom: 15px;
}
#user-input-container input {
	margin-bottom: 15px;
}

#draw-instructions {
	margin-top: 30px;
	padding-left: 0px;
}
	#draw-instructions h4 {
		margin-bottom: 10px;
	}
	.instruction-item {
		margin-left: 20px;
		margin-right: 5px;
		margin-bottom: 10px;

		font-size: 0.9em;
	}

.map-container {

 	float: right;
	height: 70%;
	width: 80%;
	position: relative;
}
/*	#geocode-input {
		display: block;
		position: absolute;
		right: 5px;
		top: 200px;
		z-index: 1000000;

		background: white;
		text-align: center;
		padding: 5px;
	}*/
		#location-input {
			width: 50%;
		}

 .map-canvas {
 	height: 100%;
 	width: 100%;
 }

 #notice-container {
 	position: absolute;
 	text-align: center;
 	width: 100%;
 	bottom: 10px;
 	z-index: 1000000;
 }
 	#notice {
 		display: none;
	 	background: black;
	 	padding: 5px 10px;
	 	color: white;
	 	font-family: Arial;
 	}

#route-clear-btns {
	position: relative;
	top: -40px;
}
	#route-clear-btns button {
		font-weight: bold;
		background: white;
	}
	#route-clear-btns button:hover {
		background: gray;
	}


 #route-list-container {
 	clear: both;
 	padding-top: 20px;
 	height: 30%;
 }

 .route-item-map {
 	height: 400px;
 }